body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
}
body a{
	color: crimson;
}
body li{
	color: white;
}
h5{
	color: black;
	display: block;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 768px) { 
	body{
		background: #FF8181;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) { 
	body{
		background: #F1E882;
	}
	.container-fluid h5{
		display: none;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) { 
	body{
		background: #6CC2FF;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	body{
		background: #89E4B8;
	}
}